
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 70px;
    color:  #66BFBF;
}

h2 {
   font-family: 'Montserrat', sans-serif;
   font-size: 2.5rem;
   color:  #66BFBF;
   font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
}

hr {
    border-style: dotted;
    border-width: 5px 0 0 0;
    color: gray;
    width: 3%;
    padding-bottom: 50px;
}

a:hover {
    color: #EAF6F6;
}
.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 300px; 
    top : 60px; 
}

.bottom-cloud {
    position: absolute;
    left: 250px; 
    bottom: 300px;
}

.profile-image {
    height: 200px;
    width: 200px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.profile {
    width: 50%;
    margin: 100px auto;
    line-height: 2;
}

.programmer-image {
    width: 25%; 
    float: left; 
    margin-right: 30px;
}

.coding-image {
    width: 25%; 
    float: right;
    margin-left: 30px; 
}

.contact-me {
    width: 50%;
    margin: 30px auto;
    line-height: 2;
}

.contact-heading {
    font-weight: bold;
}

.bottom-container {
    background-color: #66BFBF;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-link {
   color: #11999E;
   text-decoration: none;
   margin: 10px 20px;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    margin-top: 50px;
}

.btn {
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   height: 40px;
   line-height: 40px;
   color: #FFFFFF;
   font-family: Arial;
   width: 160px;
   font-size: 20px;
   padding: 0;
   margin-top: 50px;
   margin-bottom: 40px;
   background-color: #66BFBF;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

